In [3]:
import geopy as gp

In [4]:
import pandas as pd

In [5]:
house_data = pd.read_csv('../data/kc_house_data.csv')

In [6]:
crime_data = pd.read_csv('../data/King_County_Sheriff_s_Office.csv')

/Users/hunting/miniconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
house_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
from geopy.distance import vincenty 
crime_gps = (crime_data.latitude[1], crime_data.longitude[1])
house_gps = (house_data.lat[1], house_data.long[1])
vincenty(crime_gps, house_gps).miles

23.07627011062083

In [11]:
house_gps

SyntaxError: invalid syntax (<ipython-input-11-6706a5cda4e2>, line 1)

In [2]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.reverse("52.509669, 13.376294")
print(location.address)

Potsdamer Platz, Mitte, Berlin, 10117, Deutschland

In [22]:
geolocator.reverse

23.07627011062083